@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
    background-image: url('./img/fondo-dia2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Caveat";
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}


img {
    border-radius: 68px;
    width: 40%;
    margin: 0 10px 0 10px;
}
p{
    font-size: 2rem;

}

.opciones {
    font-size: 2rem;
    font-weight: 400;
    background-color: aquamarine;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.opciones:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.info {
    display: flex;
    justify-content:space-around;
    
}
.section_centro {
    display: grid; 
    grid-template-columns: 1fr 1fr 0.6fr 0.6fr; 
    grid-template-rows: 0.3fr 0.5fr 0.5fr; 
    gap: 10px 5px; 
    grid-template-areas: 
      "card card comidas amor"
      "img img comidas amor"
      "img img dormir dormir"; 
  }
  .img { grid-area: img; }
  .card { 
    grid-area: card; 
    width: 90%;
    height: 100%;
    background-color: rgb(229, 127, 255);
    color: black;
    font-size: 1.5rem;
    padding: 0 20px 0 5px;
}
  .comidas { 
    grid-area: comidas; 
}
  .amor { grid-area: amor; 
    margin: 0 10px 0 10px;}
  .dormir { grid-area: dormir; }
h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
}
.mensaje_consol {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.section2 {
    display: flex;
    justify-content: center;
}


.section_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}
.input_nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.input_nombre input {
    flex: 1;
    height: 80PX;
    font-size: 2rem;
}
.boton {
    font-size: 1.5rem;
    background-color: rgb(229, 127, 255);
    height: 50px;
    width: 100px;
    border: solid, black, 5px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.dormir_boton {
    display: flex;
    height: 100px;
    width: 400px;
    font-size: 2rem;
    background-color:mediumpurple;
    color: azure;
    border: solid, black, 5px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.dormir_boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
footer div p {
    font-size: 1.4rem;
}

@media screen and (max-width: 769px) {
.section_centro {
    grid-template-columns: 1fr; 
    grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img"
      "card"
      "comidas"
      "amor"
      "dormir"; 
}
.card { 
    grid-area: card; 
    padding:  0 10px 10px 10px;
    margin: 0 10px 10px 10px;
}
img {
    border-radius: 68px;
    width: 70%;
    margin: 10px;
}
.comidas { 
    grid-area: comidas; 
    margin: 10px;
}
  .amor { grid-area: amor; 
    margin: 10px;
    
}
.img {
    margin: 0;
    padding: 0;
    
}
.info {
    flex-direction: column;
    font-weight: 700;

    
}
.input_nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
}
body {
    
    background-repeat: no-repeat;
    background-size:auto;
    background-color: #7DB645;

}

}
