@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');


/******************************************************************/
/*                  GENERALES                                     */
/******************************************************************/

body {
    background-image: url('./img/fondo-dia2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Caveat";
}

p {
    font-size: 2rem;
}

/******************************************************************/
/*              HEADER                                            */
/******************************************************************/
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}


/******************************************************************/
/*              SECCION ARRIBA NOMBRE MASCOTA                             */
/******************************************************************/

.section_nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.input_nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.input_nombre input {
    flex: 1;
    height: 80PX;
    font-size: 2rem;
}

.boton {
    font-size: 1.5rem;
    background-color: rgb(229, 127, 255);
    height: 50px;
    width: 100px;
    border: solid, black, 5px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/******************************************************************/
/*              INFORMACION MASCOTA                               */
/******************************************************************/

.div_dinero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dinero {
    width: 50px;
}

.div_dinero p {
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-around;

}

/******************************************************************/
/*             SECTION CENTRO                                       */
/******************************************************************/

.section_centro {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 0.6fr;
    grid-template-rows: 1fr 1fr 1.4fr;
    gap: 10px 5px;
    grid-template-areas:
        "card card comidas amor"
        "izq izq comidas amor"
        "izq izq dormir dormir";
}

.card {
    grid-area: card;
    width: 90%;
    height: 100%;
    background-color: rgb(229, 127, 255);
    color: black;
    font-size: 1.5rem;
    padding: 0 20px 0 5px;
}

.izq {
    grid-area: izq;
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.comidas {
    grid-area: comidas;
}

.amor {
    grid-area: amor;
    margin: 0 10px 0 10px;
}

.dormir {
    grid-area: dormir;
}


/******************************************************************/
/*             izquierda mascota                                 */
/******************************************************************/


#mascotas {
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: flex-end;

}

#img_mascota {
    display: flex;
    width: 200px;
    margin-left: 200px;

}


/******************************************************************/
/*            IZQUIERDA COMPRAR                                   */
/******************************************************************/

#seccionComprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.opcionesComprar {
    display: flex;
    margin-left: 50px;
}

.opcionComprar {
    cursor: pointer;
}

.comprar-img {
    width: 200px;

}


.div-p {
    width: 60px;
    height: 60px;
    background-color: rgb(245, 233, 72);
    border-radius: 50%;
    margin-left: 70px;
}

.div-p p {
    padding: 5px;
    margin: 2px;
}

.titulo_opciones_comprar {
    margin: 10px;
    padding: 5px;
}

.boton-atras {
    background-color: #4CAF50;
    border-radius: 50px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 10px;
    height: 100px;
    width: 200px;
    cursor: pointer;
}

.boton-atras:hover {
    background-color: #ffffff;
    color: #4CAF50;
}

/******************************************************************/
/*            SECCION OPCIONES DE AMOR , COMIDA  Y DORMIR                                     */
/******************************************************************/

.opciones {
    font-size: 2rem;
    font-weight: 400;
    background-color: aquamarine;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.opciones:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
}

.mensaje_consol {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 1.8rem;
}


.dormir {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dormir_boton {
    display: flex;
    height: 100px;
    width: 400px;
    font-size: 2rem;
    background-color: mediumpurple;
    color: azure;
    border: solid, black, 5px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dormir_boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.carrito {
    width: 150px;
    cursor: pointer;
    background-color: mediumpurple;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carrito:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/******************************************************************/
/*              FOOTER                              */
/******************************************************************/

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer div p {
    font-size: 1.4rem;
}

/******************************************************************/
/*             MEDIA QUERYS                                 */
/******************************************************************/

@media screen and (max-width: 769px) {
    .section_centro {
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "izq"
            "card"
            "comidas"
            "amor"
            "dormir";
    }

    .izq {
        grid-area: izq;
    }

    .card {
        grid-area: card;
        padding: 0 10px 10px 10px;
        margin: 0 10px 10px 10px;
    }

    .comidas {
        grid-area: comidas;
        margin: 10px;
    }

    .amor {
        grid-area: amor;
        margin: 10px;

    }

    .info {
        flex-direction: column;
        font-weight: 700;


    }

    .input_nombre {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 20px;
        width: 100%;
    }

    body {

        background-repeat: no-repeat;
        background-size: auto;
        background-color: #7DB645;

    }

    #img_mascota {
        display: flex;
        width: 200px;
        margin-left: 0px;

    }

    .carrito {
        width: 50px;

    }

    .opcionesComprar {
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }

    .comprar-img {
        width: 200px;
        margin: 5px;
        padding: 5px;

    }

    .div-p {
        width: 60px;
        height: 60px;
        background-color: darkgoldenrod;
        border-radius: 50%;
        margin-left: 70px;
    }

    .div-p p {
        padding: 5px;
        margin: 2px;
    }

    .boton-atras {
        background-color: #4CAF50;
        border-radius: 50px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2rem;
        margin-top: 10px;
        height: 100px;
        width: 200px;
    }

    .div_dinero {
        display: flex;
        align-items: normal;
        justify-content: flex-start;
    }

}